:root {
  --color-bg: #FEFCFB;         /* fondo general */
  --color-surface: #FFFFFF;    /* tarjetas */
  --color-primary: #034078;    /* botones */
  --color-primary-hover: #001F54;
  --color-secondary: #1282A2;  /* links / acentos */
  --color-text: #0A1128;       /* texto principal */
  --color-muted: #6c7a89;      /* texto secundario */
  --color-border: #e6e6e6;
}